/* 
    Baptiste-Reaves Wedding
    Written by Sam Reaves & Brittany Baptiste
    January 29th, 2014
*/

@font-face {
    font-family: lavanderia;
    src: url(./fonts/Lavanderia/LavanderiaSturdy.otf);
}

.spacer {
    display: block;
    height: 20px;
    width: auto;
    margin-bottom:5px;
}


.navbar{
    background-color: #FFF;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
}

.icon-bar-workaround {
    background-color: #000 !important;
}

.navbar-collapse-workaround {
    background-color: #000 !important;
}

.navbar-inverse .navbar-brand:hover {
    color: #000;
    cursor: default;
}

#ourStory {
    padding-top: 8rem;
}

#bridalParty {
    padding-top: 8rem;
}

#photos {
    padding-top: 8rem;
}

#directions {
    padding-top: 8rem;
}

#rsvp {
    padding-top: 8rem;
}

#registry {
    padding-top: 8rem;
}

.center {
    text-align: center;
}

.header {
    font-family: lavanderia;
    font-size: 8rem;
    color: #0051ff;
    font-weight: bold;
}