/* 
    Baptiste-Reaves Wedding
    Written by Sam Reaves & Brittany Baptiste
    January 29th, 2014
*/

body {
    font-size: 16px;
}


@font-face {
    font-family: lavanderia;
    src: url(../fonts/Lavanderia/LavanderiaSturdy.otf);
}

.spacer {
    display: block;
    height: 20px;
    width: auto;
    margin-bottom:5px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: grey !important;
}
.navbar{
    background-color: #FFF;
    border-bottom-color: grey;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
    //background-color: grey;
}

.icon-bar-workaround {
    background-color: #000 !important;
}

.navbar-collapse-workaround {
    background-color: #000 !important;
}

.navbar-inverse .navbar-brand:hover {
    color: #000;
    cursor: default;
}

.topPadding {
    padding-top: 3em;
}

.center {
    text-align: center;
}

.header {
    font-family: lavanderia;
    font-size: 5em;
    color: #0051ff;
    font-weight: bold;
}

/* Maps */
.maps {
    /*min-width: 20rem;*/
    min-width: 100%;
    min-height: 30rem;
}


#venueMap { 
    height: 40rem; 
    width: 40rem; 
    margin: 0 auto;
}
#courtyardMap { 
    height: 40rem; 
}
#wMap { 
    height: 40rem; 
}