/* 
    Baptiste-Reaves Wedding
    Written by Sam Reaves & Brittany Baptiste
    January 29th, 2014
*/

body {
    font-size: 16px;
    line-height: 1.5;
    background: #f5f5f5;
    font-family: 'Coustard', serif;
}

body h3 {
    font-family: 'Coustard', serif;
}

@font-face {
    font-family: lavanderia;
    src: url(../fonts/Lavanderia/LavanderiaSturdy.otf);
}

.spacer {
    display: block;
    height: 20px;
    width: auto;
    margin-bottom:5px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: grey !important;
}
.navbar{
    background-color: #FFF;
    border-bottom-color: grey;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
}

.icon-bar-workaround {
    background-color: #000 !important;
}

.navbar-collapse-workaround {
    background-color: #000 !important;
}

.navbar-inverse .navbar-brand:hover {
    color: #000;
    cursor: default;
}

.topPadding {
    padding-top: 3em;
}

.center {
    text-align: center;
}

.header {
    font-family: lavanderia;
    font-size: 5em;
    color: #0051ff;
    font-weight: bold;
    margin-bottom: 3rem;
}

/* Maps */
.maps {
    /*min-width: 20rem;*/
    min-width: 100%;
    min-height: 30rem;
}


#venueMap { 
    height: 40rem; 
    width: 40rem; 
    margin: 0 auto;
}
#courtyardMap { 
    height: 40rem; 
}
#wMap { 
    height: 40rem; 
}

rsvpBorder {
    border-color: gray;
}

/*
#ourStoryBack {
    background: coral;
}

#bridalPartyBack {
    background: bisque;
}

#photosBack {
    background: silver;
}

#RSVPBack {
    background: green;
}

#ourRegistryBack {
    background: purple;
}
*/

/*#directionsback {
    background: #ffd700;
}*/

#directions .row {
    margin-bottom: 4rem;
}

#directions .maps {
    margin-bottom: 2.5rem;
}

.blueLink, .blueLink2 {
    color: #0051ff;

}
.blueLink2:hover, .blueLink:hover {
    text-decoration: none;
    color: #fc6675;
}
#Welcome {
    background: #fff;
    margin-top: 40px;
    padding: 15px;
    font-size: 16pt;
}
#OurStoryPadding {
    padding-bottom: 20px;
}

#ourStory img {
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
}
#BrittsBio {
    padding-top: 10px;
}

.bridalPartyInline {
    display: inline;
}

.lovedOne {
    display: block;
    padding-bottom: 4rem;
}

.lovedOne .first {
    margin-right: 2rem;
}

.lovedOne img {
    margin: 0 auto;
}
hr {
    border-color:#474747;
}

#registry img {
    height: 20rem;
}

.registryPadding {
    padding-top:4rem;
}

#photos a:hover {
    text-decoration: none;
    color: #fc6675;
}

#photos .prev {
    margin-right: 2rem;
}


#photos ul {
    padding: 0;
    list-style-type: none;
}

#photos ul li {
    list-style-type: none;
    display: inline;
    margin-right: 4%;
}


#hotels a.btn.btn-info.btn-lg {
    margin-top: 1.7rem;
}

#footerBack {
    background-color: #0051ff;
    margin-top: 7rem;
}

#footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#footer p {
    color: #FFF;
}